.content {
    margin-left: 20%;
    margin-right: 20%;
}
table {
    width: 100%;
    display: static;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    display: static;
    border: 1px solid black;
    border-bottom: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    background-color: grey;
}

td {
    display: static;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

tr .name {
    width: 30%;
}

tr .event {
    width: 40%;
}

tr .type {
    width: 20%;
}

tr .link {
    width:10%;
}